html(lang='en')
	head
		title Login
	body
		h1 Login to this website
		p Use <i>aze</i> for the username and <i>aze</i> for the password.
		form(method='post')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')
			input(type='submit')
		p You may want to go at <a href="/signin">Signin</a> page
