!!! 5
html(lang='en')
	head
		title User Space
	body
		h1 Hi, secure user.
		p Navigate to
			ul
				li: a(href="/files/hello") Download the <b>hello</b> file
				li: a(href="/welcome") Welcome page
				li: a(href="/logout") Logout