html(lang='en')
	head
		title Signin page
	body
		h1 Sign-in to this Express authentication
		p Use <i>user</i> for the username and <i>pass</i> for the password.
		form(method='post')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')
			input(type='submit')
		p You may want to go at <a href="/login">login</a> page